body{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    background-color: #001244;
    box-shadow: 0 3px #00081d;
}

.logo{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.navbar-brand{
    background-image: linear-gradient(
        to right,
        #54b3d6,
        #54b3d6 50%,
        white 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}
  
.navbar-brand:hover {
    background-position: 0;
}

.navbar-brand:hover::before{
    width: 100%;
}


.bg-image{
    min-height: 100vh;
    background-color: gray;
    background-image: url(https://venturebeat.com/wp-content/uploads/2021/05/GettyImages-1291886933-e1624308433688.jpg?fit=2309%2C1154&strip=all);
    background-repeat: no-repeat;
    background-position:center;
    padding-top: 3rem;
}

.bg-image .front-bg{
    min-height: calc(100vh + 3rem)
    background-color: rgba(0, 0, 0, 0.5);
}

.bg-image img{
    max-width: 250px;
    height: 250px;
}


#project .card-img{
    height: 400px;
}
@media (min-width: 576px) {
    #map{
        height: 30vh;
        width: 100%;
    }
}

@media (min-width: 768px) {
    #map{
        height: 70vh;
        width: 100%;
    }
}


.btn{
    transition: transform 0.1s ease-out, box-shadow;
    background-color: #026abe;
    color: white;
    box-shadow: 0 5px #024abe;
}

.btn:hover{
    color: white;
    font-weight: bold;
}

.btn:active{
    box-shadow: 0 0 0 #024abe;
    transform: translateY(5px);
}

#contact i:hover{
    color: #024abe;
}

#footer{
    background-color: #001244;
}
.carousel-inner > .carousel-item > img{
    height: 400px;
}

.section-header{
    margin-top: 4rem;
}

.what-i-do-header, .section-header{
    font-weight: bold;
}